.button {
    display: flex;
    background-color: #242424;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid #a9004f;
}

.bump {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
