.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem 0 0.5rem 0;
}

.inputGroup {
    display: flex;
    align-items: center;
}
