# global options
{
	admin off # theres no need for the admin api in railway's environment
	persist_config off # storage isn't persistent anyway
	auto_https off # railway handles https for us, this would cause issues if left enabled
	# runtime logs
	log {
		format json # set runtime log format to json mode
	}
	# server options
	servers {
		trusted_proxies static private_ranges # trust railway's proxy
	}
}

# site block, listens on the $PORT environment variable, automatically assigned by railway
:{$PORT} {
	# access logs
	log {
		format json # set access log format to json mode
	}

	# health check for railway
	respond /health 200

	# serve from the 'dist' folder (Vite builds into the 'dist' folder)
	root * dist

	# enable gzipping responses
	encode gzip

	# serve files from 'dist'
	file_server

	# if path doesn't exist, redirect it to 'index.html' for client side routing
	try_files {path} /index.html

	header {
    # enable HSTS
    Strict-Transport-Security max-age=31536000;

    # disable clients from sniffing the media type
    X-Content-Type-Options nosniff

    # clickjacking protection
    X-Frame-Options DENY

    Permissions-Policy geolocation=(self)
    +Permissions-Policy microphone=()
    +Permissions-Policy camera=()
    +Permissions-Policy fullscreen=(self)

    Referrer-Policy: same-origin

    Content-Security-Policy "
    default-src 'self';
    frame-src 'self';
    frame-ancestors 'self';
    connect-src 'self' https://pizzeriaprojectbe-production.up.railway.app https://pizzeriaproject-production.up.railway.app;
    child-src 'self';
    object-src 'none';
    form-action 'none';
    img-src data: https:;
    script-src 'self';
    style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
    font-src 'self' https://fonts.gstatic.com;
    "
    }
}