.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    background-color: #292929;
    padding: 1rem;
    border-radius: 14px;
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
    overflow: auto;
}

@media (min-width: 1400px) {
    .modal {
        height: fit-content;
        width: 25rem;
        position: fixed;
        top: 30%;
        left: 40%;
    }
}

@media (max-width: 1400px) {
    .modal {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
