.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #292929;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

.links {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
}

.active {
    text-decoration: none;
    color: #e4e6ed;
    border-bottom: 2px solid #a9004f;
    font-weight: 800;
}

.pending {
    text-decoration: none;
    color: #e4e6ed;
    font-weight: 800;
}

/* desktop */
@media (min-width: 1200px) {
    .layout {
        margin-top: 2rem;
    }
}

/* not desktop */
@media (min-width: 1px) and (max-width: 1200px) {
}

/* portrait phones */
@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {

}

/* landscape phones */
@media only screen and (min-device-width: 653px) and (max-device-width: 932px) {

}

/* portrait tablets */
@media only screen and (min-device-height: 1024px) and (max-device-width: 1024px) {
    .layout {
        margin-top: 2rem;
    }
}

/* landscape tablets */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1024px) {
    .layout {
        margin-top: 2rem;
    }
}