.changeAllowed {
    opacity: 1;
}

.changedNotAllowed {
    opacity: 0.2;
}

/* desktop */
@media (min-width: 1200px) {
    .container {
        display: none;
    }
}

/* not desktop */
@media (min-width: 1px) and (max-width: 1200px) {
    .container {
        display: none;
    }
}


/* portrait phones */
@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 13em;
        margin-bottom: 1.5rem;
    }

    .control {
        background-color: #a9004f;
        border: 1px solid #a9004f;
        color: #e4e6ed;
    }
}

/* landscape phones */
@media only screen and (min-device-width: 653px) and (max-device-width: 932px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15em;
        margin-bottom: 1.5rem;
    }

    .buttons {
        background-color: #a9004f;
        border: 1px solid #a9004f;
        color: #e4e6ed;
    }
}

/* portrait tablets */
@media only screen and (min-device-height: 1024px) and (max-device-width: 1024px) {
    .container {
        display: none;
    }
}

/* landscape tablets */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1024px) {
    .container {
        display: none;
    }
}

/* fold portrait  */
@media only screen and (min-device-width: 280px) and (max-device-width: 280px) {

}