.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.empty {
    color: #a9004f;
    font-size: 2rem;
    font-family: "Pacifico", cursive;
}