.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.text {
    color: #e4e6ed;
    font-weight: 800;
    margin-right: 0.3rem;
}

.pages {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* desktop */
@media (min-width: 1400px) {
    .container {
        min-width: 40vw;
    }
}

/* not desktop */
@media (min-width: 1px) and (max-width: 1400px) {
    .container {
        min-width: 35vh;
    }
}

/* portrait phones */
@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .container {
        width: 90vw;
    }
}

/* landscape phones */
@media only screen and (min-device-width: 653px) and (max-device-width: 932px) {
    .container {
        width: 70vw;
    }
}

/* portrait tablets */
@media only screen and (min-device-height: 1024px) and (max-device-width: 1024px) {

}

/* landscape tablets */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1368px) {
    .container {
        width: 50vw;
    }
}

/* fold portrait  */
@media only screen and (min-device-width: 280px) and (max-device-width: 280px) {

}