.layout {
    font-weight: 800;
    background-color: #242424;
}

.layoutDrawer {
    font-weight: 800;
    background-color: #242424;
}

.header {
    height: 1.5rem;
    margin-bottom: 0.5rem;
}

.header p {
    color: #e4e6ed;
}

.content {
    overflow: scroll;
    scrollbar-width: thin; /* for chrome */
    scrollbar-color: #e4e6ed transparent;
}

.contentDrawer {
    overflow: scroll;
    scrollbar-width: thin; /* for chrome */
    scrollbar-color: #e4e6ed transparent;
}

.empty {
    font-size: 1.5rem;
    text-align: center;
    color: #e4e6ed;
}

.emptyDrawer {
    font-size: 1.5rem;
    text-align: center;
    color: #e4e6ed;
}

.total {
    color: #e4e6ed;
    margin-bottom: 0.5rem;
}

.offerTotal {
    color: #e4e6ed;
    background-color: #a9004f;
    border: 1px solid #a9004f;
    margin-left: 0.5rem;
    padding: 0.2rem;
    border-radius: 30px;
}

.offers {
    color: #e4e6ed;
}

.highlight {
    color: #a9004f;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 1200px) {
    .layout {
        padding: 0.5rem;
        background-color: #292929;
    }

    .content {
        height: 45vh;
    }

    .empty {
        height: 59vh;
    }

    .layoutDrawer {
        height: 92vh;
    }

    .contentDrawer {
        height: 73%;
    }

    .emptyDrawer {
        height: 81vh;
    }

    .info {
        height: 8rem;
    }
}

@media (max-width: 1200px) {
}

/* portrait phones */
@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .layoutDrawer {
        height: 80vh;
    }

    .contentDrawer {
        height: 76%;
    }

    .emptyDrawer {
        height: 80vh;
    }

    .info {
        height: 8rem;
    }
}

/* landscape phones */
@media only screen and (min-device-width: 653px) and (max-device-width: 932px) {
    .layout {
        padding: 0.5rem;
        background-color: #292929;
    }

    .content {
        height: 70vh;
    }

    .layoutDrawer {
        height: 83vh;
    }

    .contentDrawer {
        height: 30%;
    }

    .emptyDrawer {
        height: 57vh;
    }

    .info {
        height: 8.5rem;
    }
}

/* portrait tablets */
@media only screen and (min-device-height: 1024px) and (max-device-width: 1024px) {
    .layout {
        padding: 0.5rem;
        background-color: #292929;
    }

    .content {
        height: 30vh;
    }

    .layoutDrawer {
        height: 93vh;
    }

    .contentDrawer {
        height: 72%;
    }

    .emptyDrawer {
        height: 82.5vh;
    }

    .info {
        height: 10rem;
    }
}

/* landscape tablets */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1024px) {
    .layout {
        padding: 0.5rem;
        background-color: #292929;
    }

    .content {
        height: 50vh;
    }

    .layoutDrawer {
        height: 89vh;
    }

    .contentDrawer {
        height: 57%;
    }

    .emptyDrawer {
        height: 72vh;
    }

    .info {
        height: 8.5rem;
    }
}

/* fold portrait  */
@media only screen and (min-device-width: 280px) and (max-device-width: 280px) {
}