.layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 3rem 0 0 0;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}