.footer {
    background-color: #1c1c1c;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #a9004f;
    font-size: 1rem;
    font-weight: 800;
    width: 100%
}

.inner a {
    color: #a9004f
}

.icons {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.details {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
}

.git,
.git:hover,
.git:visited,
.git:focus,
.git:active {
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .iconProviderMobile {
        display: none;
    }
}

/* not desktop */
@media (min-width: 1px) and (max-width: 1200px) {
    .iconProviderMobile {
        display: none;
    }
}

/* portrait phones */
@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .inner {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .details {
        justify-content: space-between;
        width: 100%;
    }

    .iconProviderMobile {
        display: block;
    }

    .iconProvider {
        display: none;
    }
}