.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem 0 0 0;
}

.inputGroup {
    display: flex;
    align-items: center;
}

.layout {
    color: #e4e6ed;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    color: #a9004f;
}

.header {
    text-align: center;
    font-family: "Pacifico", cursive;
    font-size: 2.5rem;
}

/* desktop */
@media only screen and (min-device-width: 1400px) {
    .layout {
        margin-top: 1rem;
    }

    .header {
        margin-bottom: 0.5rem;
    }

    .register {
        margin-top: 1rem;
    }

    .link {
        margin-top: 0.5rem;
    }
}

/* portrait phones */
@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .layout {
        margin-top: 1rem;

    }

    .header {
        margin-bottom: 0.5rem;
    }

    .register {
        margin-top: 1rem;
    }

    .link {
        margin-top: 0.5rem;
    }
}

/* landscape phones */
@media only screen and (min-device-width: 653px) and (max-device-width: 932px) {
    .header {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .register {
        margin-top: 1rem;
    }

    .link {
        margin-top: 0.5rem;
    }
}

/* portrait tablets */
@media only screen and (min-device-height: 1024px) and (max-device-width: 1024px) {
    .layout {
        margin-top: 2rem;
    }

    .header {
        margin-bottom: 1rem;
    }

    .register {
        margin-top: 1rem;
    }

    .link {
        margin-top: 0.5rem;
    }
}

/* landscape tablets */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1368px) {
    .layout {
        margin-top: 2rem;
    }

    .header {
        margin-bottom: 1rem;
    }

    .register {
        margin-top: 1rem;
    }

    .link {
        margin-top: 0.5rem;
    }
}

/* fold portrait  */
@media only screen and (min-device-width: 280px) and (max-device-width: 280px) {
    .input {
        width: 17rem;
    }
}