.container {
    display: flex;
    justify-content: center;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.format {
    display: flex;
    gap: 3rem
}

.type {
    display: flex;
    gap: 1rem;
}

.products {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.segment {
    outline: 2px solid #a9004f;
}

/* desktop */
@media (min-width: 1200px) {
    .format {
        margin: 1rem 0 0.5rem 0;
    }
}

/* not desktop */
@media (min-width: 1px) and (max-width: 1200px) {
    .format {
        gap: 1rem;
        margin: 1rem 0 0.5rem 0;
    }
}

/* portrait phones */
@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .format {
        gap: 1rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

/* landscape phones */
@media only screen and (min-device-width: 653px) and (max-device-width: 932px) {
}

/* portrait tablets */
@media only screen and (min-device-height: 1024px) and (max-device-width: 1024px) {
    .format {
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
    }
}

/* landscape tablets */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1024px) {
    .format {
        flex-direction: row;
        gap: 1rem;
    }
}

/* fold portrait  */
@media only screen and (min-device-width: 280px) and (max-device-width: 280px) {
}