.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.panel {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
    background-color: #292929;
}

.text {
    color: #a9004f;
    font-weight: 800;
}

.value {
    color: #e4e6ed;
}

.section {
    padding: 1rem 1rem 1rem 1rem;
}

.field {
    display: flex;

    justify-content: space-between;
}

/* desktop */
@media (min-width: 1400px) {
    .layout {
        margin-top: 2rem;
    }

    .panel {
        width: 22vw;
    }
}

/* not desktop */
@media (min-width: 1px) and (max-width: 1400px) {
    .layout {
        margin-top: 2rem;
    }

    .panel {
        min-width: auto;
    }
}

/* portrait phones */
@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .layout {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .panel {
        width: 90vw;
    }
}

/* landscape phones */
@media only screen and (min-device-width: 653px) and (max-device-width: 932px) {
    .layout {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .panel {
        width: 75vw;
    }
}

/* portrait tablets */
@media only screen and (min-device-height: 1024px) and (max-device-width: 1024px) {
    .layout {
        margin-top: 3rem;
    }

    .panel {
        width: 60vw;
    }
}

/* landscape tablets */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1368px) {
    .layout {
        margin-top: 2rem;
    }

    .panel {
        width: 50vw;
    }
}

/* fold portrait  */
@media only screen and (min-device-width: 280px) and (max-device-width: 280px) {

}